@model IEnumerable<DormitoryWebProject.Models.Loai>

@{
    ViewBag.Title = "Index";
    ViewBag.formheader = "";
    Layout = "~/Views/Shared/Main/_LayoutFormCMS.cshtml";
}
@section PageStyle{
    <link href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/css/CMS/Loai/Index.css" rel="stylesheet" />
}
@section PageScript{
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $(".table").DataTable({
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
<div class="card card-dark">
    <div class="card-header">
        <h3 class="card-title" style="font-weight:700">Quản lý dữ liệu loại phòng </h3>
        <a href="@Url.Action("Create","Loai")" class="btn btn-primary bg-olive btn-flat btn-xs float-right" style="font-weight:700"><i class="fa fa-plus"></i></a>
    </div>
    <div class="card-body">
        <div class="float-md-right float-sm-none">
            <a href="@Url.Action("Create","Loai")" class="btn btn-primary bg-primary btn-flat btn-sm" style="font-weight:700;border:none"><i class="fa fa-plus"></i> Thêm mới</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenLoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GiaThue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GiaDien)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GiaNuoc)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.TenLoai, "Details", new { id = item.MaLoai })
                        </td>
                        <td>
                            @item.GiaThue
                        </td>
                        <td>
                            @item.GiaDien
                        </td>
                        <td>
                            @item.GiaNuoc
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





